*{
    padding: 0%;
    margin: 0%;
    font-family: Century Gothic;

}
.main{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../rect/back1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1300px;
    height: 100vh;
    margin: auto;

}
ul{
    float: right;
    margin-top: 30px;

}
.head{
    position: absolute;
    top: 35%;
    right: 50%;
    left: 32%;
}
.button {
    position: absolute;
    top: 45%;
    right: 40%;
    left: 40%;
}
.ex{

    border: 1px solid #fff;
    padding:5px 5px 5px 5px ;
    display: inline-block;
    color: white;
    text-decoration: none;  
}
.button a{
    transition: 0.5s ease;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration:none;
    color: #fff;
    border: 1px solid transparent;
    transition: 0.5s ease;
    padding: 5px 5px 5px 5px;
}
ul li a:hover{
    background-color: white;
    color: green;
}
.logo img{
    float: left;
    height: auto;
    margin-top: 2%;
    width: 200px;
}
.button a:hover{
    transition: 0.5s solid transparent;
    background-color: white;
    color: green;
}